@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import './b-mixins';

html {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #000000;
  background-color: #ffffff;
}

a,
button,
input,
textarea {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
